*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .navbar.py-3{
        padding: .6rem !important;
    }
    .navbar-toggler{
        border: none !important;
    }

  .buttons .btn{
    font-size: .5rem;
    padding: 5px 3px;
  } 
div.buttons.d-flex.justify-content-center.mb-5.pb-5{
    margin-bottom: 0 !important;
    padding-bottom: 3rem !important;
  } 
  .card img{
    height: 32rem;
  }
  div.container.py-5.my-5{
    margin-top: 0 !important;
  }
  div.col-12.mb-5{
    margin-bottom: 0 !important;
  }
  .container img{
    height: 15rem;
  }
  /* .products .container{
    height: 100rem;
    overflow: scroll;
  } */
  .row img{
    width: 12rem;
    margin: auto;
  }
  .row h1{
    font-size: 18px;
  }
  .row .lead, .row h3{
    font-size: 1rem;
    display: inline-block;
  }
  h3.display-6.fw-bold.my-4{
    margin-left: 7rem;
    margin-top: .5rem!important;
    margin-bottom: .2rem!important;
  }
  .row p{
    font-size: .8rem !important;
  }
  .row button, .row a{
    padding: .2rem .3rem !important;
    font-size: .9rem;
  }
  .row .card{
    width: 100% !important;
  }
  .card-body p{
    display: block !important;
  }


}